@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme((color: (theme-type: light,
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: (brand-family: 'Roboto',
                primary-family: 'Roboto',
            ),
            density: (scale: 0,
            ),
        ));

html {
    @include mat.all-component-themes($theme);
    @include mat.typography-hierarchy($theme);
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
}