.center-form {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 450px;
}

.full-width {
  width: 100%;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

@media (max-width: 500px) {
  .center-form {
    min-width: 100%;
  }
  .form-row {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
